<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
    <script src="../js/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="../js/vue-2.6.12/vue.min.js"></script>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>

</head>


<style>
    .el-row {
    }
    .el-col {
        border-radius: 4px;
    }

    .el-aside {
        color: #333;
        text-align: center;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
    }



    .content {
        /*background: #99a9bf;*/
        height: 100px;
        border-bottom: 1px solid gray;
        margin-left: 20px;
        margin-right: 20px;
    }
    .contentTitle {
        float: left;
    }
    a {
        text-decoration: none;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .itemDiv {
        float: left;
        margin-right: 13px;
    }
    .item {
        margin-right: 5px;
    }
    .itemText {
        font-size: 13px;
    }
    a {
        color: black;
    }

    .headImage {
        margin-top: 20px;
    }

    #name {
        font-family: "PingFang SC";
        font-size: 20px;
        font-weight: bold;
    }

    #search {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 20px;

    }



</style>
<body>
<div id="app">
    <el-container>
        <el-aside width="240px">
            <el-row class="tac">

                <el-col :span="24">
                    <div class="headImage">
                        <div class="block">
                            <el-avatar :size="50" :src="circleUrl">
                                <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png"/>
                            </el-avatar>
                        </div>
                    </div> <!-- 头像 -->
                    <div id="name">
                        <p>{{user.name}}</p>
                    </div>
                    <div id="location" >
                        <i class="el-icon-location-outline"></i>
                        <span slot="title">TianJin, China</span>
                    </div>
                    <div id="search">
                        <el-input size="small" v-model="input" placeholder="请输入内容" prefix-icon="el-icon-search"></el-input>
                    </div>

                    <el-menu
                            default-active="1"
                            class="leftMenu"
                            @select="handleLeftMenuSelect">
                        <el-menu-item index="1">
                            <i class="el-icon-s-home"></i>
                            <span @>批假</span>
                        </el-menu-item>

                        <el-menu-item index="2" >
                            <i class="el-icon-document"></i>
                            <span slot="title">查看</span>
                        </el-menu-item>


                    </el-menu> <!-- 分类标签 -->
                </el-col>

            </el-row>
        </el-aside>
        <el-container>
            <el-main style="height: 90vh;">
                <!--                <component :is="nowName"></component>-->
                <div>
                    <el-row>
                        <el-col :span="24">
                            <template>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%; "
                                        min-height="100vh"
                                >
                                    <el-table-column
                                            fixed
                                            prop="id"
                                            label="ID"
                                            width="80"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="title"
                                            label="标题"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="reason"
                                            label="详情"
                                            width="340">
                                    </el-table-column>
                                    <el-table-column
                                            prop="startDate"
                                            label="开始日期"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="endDate"
                                            label="结束日期"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="类型"
                                            width="100">
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="操作"
                                            width="120">
                                        <template slot-scope="scope">
                                            <el-button
                                                    @click.native.prevent="deleteRow(scope.$index, tableData)"
                                                    type="text"
                                                    size="small">
                                                同意
                                            </el-button>

                                            <el-button
                                                    @click.native.prevent="rejectClicked(scope.$index, tableData)"
                                                    type="text"
                                                    size="small">
                                                反对
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                        </el-col>
                    </el-row>
                    <el-dialog
                            title="反对原因"
                            :visible.sync="dialogVisible"
                            width="30%"
                            :before-close="handleClose">

                        <el-input
                                type="textarea"
                                :autosize="{ minRows: 4, maxRows: 7}"
                                placeholder="请输入内容"
                                v-model="reasonText">
                        </el-input>
                        <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="submitReason">确 定</el-button>
                     </span>
                    </el-dialog>
                </div>
                <div>
                    <el-row>
                        <el-col :span="18">
                            <template>
                                <el-table
                                        :data="chakanData"
                                        style="width: 100%; "
                                        min-height="100vh"
                                >
                                    <el-table-column
                                            fixed
                                            prop="id"
                                            label="ID"
                                            width="80"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="title"
                                            label="标题"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="reason"
                                            label="详情"
                                            width="300">
                                    </el-table-column>
                                    <el-table-column
                                            prop="startDate"
                                            label="开始日期"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="endDate"
                                            label="结束日期"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="类型"
                                            width="100">
                                    </el-table-column>

                                </el-table>
                            </template>
                        </el-col>
                        <el-col :span="6">
                            <div class="block" style="margin-left: 20px">
                                <el-card class="box-card" >

                                    <el-timeline>
                                        <el-timeline-item
                                                v-for="(activity, index) in activities"
                                                :key="index"
                                                :icon="activity.icon"
                                                :type="activity.type"
                                                :color="activity.color"
                                                :size="activity.size"
                                                :timestamp="activity.timestamp">
                                            {{activity.content}}
                                        </el-timeline-item>
                                    </el-timeline>
                                </el-card>

                            </div>
                        </el-col>
                    </el-row>

                </div>
            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>
    </el-container>
</div>


</body>

<script>


    var data4CalVue = {
        circleUrl: "https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png",
        uri: 'login',
        result: [
            {"date":"2020-12-01","content":"放假"},
            {"date":"2020-12-02","content":"去交电费"},
            {"date":"2020-11-03","content":"去学习vue"}
        ],
        user: {id: 0, username: 'aaa', password: '', role: 0, name: ""},
        mainNames: [
            "main-page", "yingong-page", "yinsi-page", "jiaqi-page"
        ],
        nowName: "main-page",
        form: {
            name: '',
            region: '',
            date1: '',
            date2: '',
            delivery: false,
            type: [],
            resource: '',
            desc: ''
        },
        input: "",

        tableData: [{
            id: '1',
            title: '生病了',
            reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
            startDate: '2020-12-01',
            endDate: '2020-12-06',
            type: 1
        }, {
            id: '1',
            title: '生病了',
            reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
            startDate: '2020-12-01',
            endDate: '2020-12-06',
            type: 1
        },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },
            {
                id: '1',
                title: '生病了',
                reason: '上海上海市普陀区金沙江路 1518 弄上海市普陀区金沙江路 1518 弄',
                startDate: '2020-12-01',
                endDate: '2020-12-06',
                type: 1
            },

        ],

        dialogVisible: false,
        reasonText: "",
        index: 0,
        rows: 0
    };
    var vue = new Vue({
        el: '#app',
        data: data4CalVue,
        mounted: function() {
            // this.getUserInfo();
        },
        methods: {

            handleLeftMenuSelect: function (index) {

                console.log(index)
                if(index == 1) {
                    this.nowName = this.mainNames[0];

                }else if(index == 2) {
                    this.nowName = this.mainNames[1];

                }else if(index == 3) {
                    this.nowName = this.mainNames[3];
                } else {
                    this.nowName = this.mainNames[1];
                }
                console.log(this.nowName)
            },

            // 处理 请假栏 - 因公 因私 的点击事件
            handleCommand: function (command) {
                if(command == "a") {
                    this.nowName = this.mainNames[1];
                }else if(command == "b"){
                    this.nowName = this.mainNames[2];
                }
                return ;
            },

            getUserInfo: function () {
                var url = "user";
                axios.get(url).then(function (response) {
                    vue.user = response.data;

                })
            },
            deleteRow(index, rows) {
                rows.splice(index, 1);
            },

            rejectClicked: function (index, rows) {

                this.dialogVisible = true;
                this.index = index;
                this.rows = rows;
            }
            ,
            submitReason: function () {
                this.dialogVisible = false;
                this.deleteRow(this.index,this.rows);
            },

            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },

            getTypeString: function (type) {
                switch (type) {
                    case -1:
                        return "因公请假";
                        break;
                    case 0:
                        return "年假";
                        break;
                    case 1:
                        return "病假";
                        break;
                    case 2:
                        return "婚假";
                        break;
                    case 3:
                        return "产检假";
                        break;
                    case 4:
                        return "产假";
                        break;
                    case 5:
                        return "哺乳假";
                        break;
                    case 6:
                        return "陪产假";
                        break;
                    case 6:
                        return "事假";
                        break;
                }
            }
        }
    })

</script>
</html>
